.App {
  font-family: sans-serif;
  background-color: yellow;
}

.recipe-wrapper {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: left;
}
.recipe-image {
}

.cb-badge {
  margin-right: 20px;
}
.cb-nested-badge {
  margin-left: 10px;
}

.cb-container {
  display: flex;
  justify-content: left;
}

.Routers {
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
}

.Routers ul {
  list-style-type: none;
}
