@import url("https://fonts.googleapis.com/css?family=Lato");
.App {
  font-family: "Lato", sans-serif;
}

.App{
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);}

.recipe-wrapper {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: left;
}
.recipe-image {
}

.card-title{
text-align: center;
font-family:Courier New;
}
.cb-badge {
  margin-right: 20px;
}
.cb-nested-badge {
  margin-left: 10px;
}

.cb-container {
  display: flex;
  justify-content: left;
}

.Routers {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  right: 0;
}

.Routers ul {
  list-style-type: none;
}
